body {
  background: linear-gradient(to bottom, purple, rgb(183, 43, 43));
  height: 100vh;
}
.cards-container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding-left: 0;
}
.images {
  width: 100%;
  border-radius: 10px;
}
li {
  transition: 0.6s;
  box-shadow: 5px 5px 8px 1px hsl(269, 59%, 14%) ñ;
}
li:hover {
  transform: scale(1.1);
}
label {
  color: white;
}
p {
  text-align: center;
  color: whitesmoke;
  font-size: 24px;
}
label,
input {
  margin-left: 550px;
}
